.primary {
  background-color: #686CC8;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.justify-left {
  justify-content: left;
}

.justify-right {
  justify-content: right;
}

.justify-center {
  justify-content: center;
}

.container {
  height: 100vh;
  max-width: 700px;
  margin: 0 auto;
}

.logo {
  margin: 0 auto;
  width: 100%;
}

p {
  font-family: Roboto;
  font-style: normal;
}

a {
  text-decoration: none;
}
.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.rotated {
  transform: rotate(180deg);
}

.text-align-center {
  text-align: center;
  text-align: -webkit-center;
}
